Repository stefanprodan/timoni, pull requests merged in 2023-04, with the labels that each got.

#41 Update dependencies
  .github/workflows/e2e.yaml
  go.mod
  go.sum
Labels: dependencies

#42 ci: Add CodeQL scanner
  .github/workflows/scan.yml
Labels: area/ci

#43 Correct typo in help text for build -o
  cmd/timoni/build.go
Labels: area/docs, area/cli

#44 Implement `bundle lint` command
  api/v1alpha1/bundle.go
  api/v1alpha1/selectors.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/bundle_lint.go
  cmd/timoni/bundle_lint_test.go
  cmd/timoni/main_test.go
  mkdocs.yml
Labels: area/api, area/cli

#47 docs: Update GitHub Actions
  README.md
  docs/github-actions.md
  docs/index.md
Labels: area/docs

#49 Add stdin-support for values files and bundles
  cmd/timoni/apply.go
  cmd/timoni/apply_test.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/main_test.go
Labels: area/cli

#51 Values from yaml and json files
  Makefile
  cmd/timoni/apply.go
  cmd/timoni/build.go
  cmd/timoni/build_test.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/testdata/module-values/badsyntax.cue
  cmd/timoni/testdata/module-values/example.com.json
  cmd/timoni/testdata/module-values/example.com.yaml
  cmd/timoni/testdata/module-values/invalid.unknown-extension
  internal/engine/module_builder.go
  internal/engine/module_builder_test.go
  internal/engine/utils.go
  internal/engine/values_builder.go
  internal/engine/values_builder_test.go
Labels: enhancement, area/cli, area/engine

#56 Add values files docs and examples
  cmd/timoni/apply.go
  cmd/timoni/build.go
  cmd/timoni/bundle_apply.go
  docs/quickstart.md
  docs/values.md
  mkdocs.yml
Labels: area/docs

#60 Document module publishing and versioning
  docs/module-semver.md
  mkdocs.yml
Labels: area/docs

#64 Add Arkade install method to docs
  README.md
  docs/install.md
Labels: area/docs

#67 Implement listing command for module versions
  README.md
  cmd/timoni/build.go
  cmd/timoni/mod_list.go
  cmd/timoni/mod_list_test.go
  docs/index.md
  docs/module-semver.md
  go.mod
  go.sum
  internal/engine/fetcher.go
  internal/runtime/instances.go
  mkdocs.yml
Labels: area/cli, area/oci

#48 bundle: Allow modules to be referenced by digest
  api/v1alpha1/bundle.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/bundle_lint.go
  cmd/timoni/bundle_lint_test.go
  docs/index.md
  examples/bundles/podinfo.cue
  internal/engine/bundle_builder.go
  internal/engine/fetcher.go
Labels: area/api, area/engine, area/bundles

#69 Document how bundles work
  cmd/timoni/apply.go
  docs/bundles.md
  mkdocs.yml
Labels: area/docs, area/bundles

#72 Add a bundle example to quickstart
  README.md
  docs/bundles.md
  docs/index.md
  docs/install.md
  docs/quickstart.md
Labels: area/docs, area/bundles

#81 Ensure all CUE build errors are printed
  cmd/timoni/apply.go
  cmd/timoni/build.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/errors.go
Labels: area/cli
