Repository stefanprodan/timoni, pull requests merged in 2023-10, with the labels that each got.

#206 Consolidate artifact annotations and Git metadata
  .github/workflows/push.yaml
  Makefile
  api/v1alpha1/artifact.go
  cmd/timoni/artifact_push.go
  cmd/timoni/artifact_push_test.go
  cmd/timoni/mod_push.go
  cmd/timoni/mod_push_test.go
  docs/bundle-distribution.md
  docs/module-semver.md
  internal/oci/artifact_test.go
  internal/oci/metadata.go
  internal/oci/module_test.go
  internal/oci/pull_module.go
  internal/oci/push_module.go
  mkdocs.yml
Labels: area/api, area/cli, area/oci

#207 Enable dark mode for docs website
  README.md
  docs/bundle-distribution.md
  docs/bundle-runtime.md
  docs/bundle.md
  docs/comparison.md
  docs/index.md
  docs/module-distribution.md
  docs/module.md
  docs/quickstart.md
  mkdocs.yml
Labels: area/docs

#208 Set dark mode pallet for docs website
  mkdocs.yml
Labels: area/docs

#210 Update dependencies
  go.mod
  go.sum
Labels: dependencies

#211 Uninstall bundle instances in reverse order
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_delete.go
  cmd/timoni/list.go
  internal/runtime/storage.go
Labels: enhancement, area/bundles

#212 Pull all modules before attempting apply
  cmd/timoni/artifact_push.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/bundle_build.go
  cmd/timoni/bundle_delete.go
  cmd/timoni/mod_pull.go
  cmd/timoni/mod_push.go
  internal/engine/bundle_builder.go
Labels: enhancement, area/bundles

#213 Refactor `timoni bundle delete`
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/bundle_delete.go
  cmd/timoni/bundle_delete_test.go
  docs/bundle.md
  internal/engine/utils.go
Labels: area/ux, area/cli, area/bundles

#214 Persist the user-supplied values in the cluster storage
  api/v1alpha1/gvk.go
  api/v1alpha1/instance.go
  cmd/timoni/apply.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/inspect_test.go
  cmd/timoni/mod_lint.go
  internal/engine/module_builder.go
  internal/runtime/storage.go
Labels: enhancement, area/runtime

#215 Use tabular view for `timoni inspect resources`
  cmd/timoni/inspect_resources.go
  cmd/timoni/inspect_test.go
Labels: area/ux, area/cli

#219 Update example modules
  Makefile
  README.md
  examples/bundles/podinfo.cue
  examples/redis/README.md
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/selector.cue
  examples/redis/debug_tool.cue
  examples/redis/debug_values.cue
  examples/redis/go.mod
  examples/redis/go.sum
  examples/redis/templates/config.cue
  examples/redis/templates/master.deployment.cue
  examples/redis/templates/replica.deployment.cue
  examples/redis/test_values.cue
  examples/redis/timoni.cue
  examples/redis/timoni.ignore
  examples/redis/values.cue
Labels: area/docs

#216 Add `timoni bundle status` command
  cmd/timoni/bundle_status.go
  cmd/timoni/bundle_status_test.go
  cmd/timoni/main_test.go
  cmd/timoni/status.go
  cmd/timoni/status_test.go
  docs/bundle.md
  mkdocs.yml
Labels: enhancement, area/cli, area/bundles

#221 Migrate the instance storage from the Opaque type
  internal/runtime/storage.go
Labels: area/runtime

#220 Add capability to run tests with Kubernetes Jobs
  .github/workflows/e2e.yaml
  docs/module.md
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/action.cue
  examples/minimal/debug_tool.cue
  examples/minimal/debug_values.cue
  examples/minimal/templates/config.cue
  examples/minimal/templates/job.cue
  examples/minimal/timoni.cue
  examples/minimal/values.cue
  examples/redis/cue.mod/gen/k8s.io/api/batch/v1/register_go_gen.cue
  examples/redis/cue.mod/gen/k8s.io/api/batch/v1/types_go_gen.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/action.cue
  examples/redis/debug_tool.cue
  examples/redis/templates/config.cue
  examples/redis/templates/master.deployment.cue
  examples/redis/templates/replica.deployment.cue
  examples/redis/templates/test.job.cue
  examples/redis/timoni.cue
  examples/redis/values.cue
  go.mod
  go.sum
  internal/runtime/job_wait.go
  internal/runtime/job_wait_test.go
  internal/runtime/resources.go
  schemas/timoni.sh/core/v1alpha1/action.cue
Labels: area/api, area/runtime

#222 Improve module validation and add `timoni mod vet` cmd
  README.md
  api/v1alpha1/instance.go
  cmd/timoni/apply.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_build.go
  cmd/timoni/main_test.go
  cmd/timoni/mod_vet.go
  cmd/timoni/mod_vet_test.go
  docs/index.md
  docs/module.md
  internal/engine/fetcher.go
  internal/engine/module_builder.go
  mkdocs.yml
Labels: area/ux, area/cli, area/engine

#223 Inventorying of container images referenced by a modules
  api/v1alpha1/instance.go
  api/v1alpha1/module.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/timoni/apply.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_status.go
  cmd/timoni/bundle_status_test.go
  cmd/timoni/log.go
  cmd/timoni/mod_vet.go
  cmd/timoni/mod_vet_test.go
  cmd/timoni/status.go
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  cmd/timoni/testdata/module/templates/config.cue
  internal/engine/module_builder.go
Labels: enhancement, area/ux, area/cli, area/runtime

#224 ci: Publish Timoni's CUE schemas to GHCR
  .github/workflows/push.yaml
  .github/workflows/release.yaml
  schemas/README.md
Labels: area/ci

#225 ci: Fix schemas push
  .github/workflows/push.yaml
  .github/workflows/release.yaml
Labels: area/ci

#226 Bump example model to Redis 7.2.2
  .github/workflows/push.yaml
  .github/workflows/release.yaml
  README.md
  docs/bundle.md
  docs/quickstart.md
  examples/bundles/podinfo.cue
  examples/redis/values.cue
Labels: area/docs, area/ci

#227 Refactor action cue schema
  Makefile
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/action.cue
  examples/minimal/templates/job.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/action.cue
  examples/redis/templates/test.job.cue
  schemas/timoni.ignore
  schemas/timoni.sh/core/v1alpha1/action.cue
Labels: area/api

#228 Add Timoni logo
  docs/images/favicon.png
  docs/images/logo.png
  docs/images/logo.svg
  docs/images/logo_wide.png
  docs/images/logo_wide.svg
  docs/theme/main.html
  logo/README.md
  logo/timoni_logo.png
  logo/timoni_logo.svg
  logo/timoni_logo_website.png
  logo/timoni_logo_website.svg
  logo/timoni_logo_wide.png
  logo/timoni_logo_wide.svg
  logo/timoni_text_black.png
  logo/timoni_text_black.svg
  logo/timoni_text_white.png
  logo/timoni_text_white.svg
  mkdocs.yml
Labels: area/docs

#230 fix: vendor CRDs with no spec
  internal/engine/importer.go
  internal/engine/importer_test.go
Labels: bug, area/engine

#231 Design the homepage of Timoni's website
  .github/workflows/docs.yaml
  README.md
  cmd/timoni/docgen.go
  docs/bundle-distribution.md
  docs/concepts.md
  docs/images/logo_icons.svg
  docs/images/logo_indigo.svg
  docs/images/logo_text_black.svg
  docs/images/logo_text_white.svg
  docs/index.md
  docs/module-distribution.md
  docs/quickstart.md
  docs/theme/home.html
  docs/values.md
  hack/mkdocs/requirements.txt
  mkdocs.yml
Labels: area/docs

#232 Add social cards to website
  docs/images/logo_card.png
  docs/theme/main.html
  mkdocs.yml
Labels: area/docs

#233 Document how to inject secrets at apply-time
  docs/bundle-secrets.md
  docs/bundle.md
  mkdocs.yml
Labels: area/docs
