Repository stefanprodan/timoni, pull requests merged in 2023-11, with the labels that each got.

#234 Introduce `timoni bundle vet` command
  cmd/timoni/bundle_vet.go
  cmd/timoni/bundle_vet_test.go
  cmd/timoni/main_test.go
  docs/bundle.md
  docs/concepts.md
  mkdocs.yml
Labels: area/ux, area/bundles

#239 Use direct cluster reader for health checks
  internal/runtime/resources.go
Labels: area/runtime

#240 docs: update secret doc to use FIFO instead of temporary file
  docs/bundle-secrets.md
Labels: area/docs

#237 Implement caching for modules pulled from registries
  cmd/timoni/apply.go
  cmd/timoni/build.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/main.go
  cmd/timoni/main_test.go
  cmd/timoni/mod_vet.go
  internal/engine/fetcher.go
  internal/oci/module_test.go
  internal/oci/pull_module.go
Labels: enhancement, area/cli, area/oci

#241 Update dependencies
  Makefile
  cmd/timoni/main_test.go
  go.mod
  go.sum
  internal/oci/main_test.go
Labels: dependencies

#242 Add install docs for Arch Linux and openSUSE
  docs/install.md
Labels: area/docs

#243 Add local cache to install docs
  docs/install.md
Labels: area/docs

#246 Create output dir instead of returning error for OCI artifacts
  cmd/timoni/artifact_pull.go
  cmd/timoni/mod_pull.go
Labels: area/cli

#247 Handle immutable resources at dry-run
  cmd/timoni/dyff.go
Labels: area/cli

#248 Tidy up commands
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_build.go
  cmd/timoni/bundle_vet.go
  cmd/timoni/mod_init.go
  cmd/timoni/runtime_build.go
Labels: area/ux, area/cli

#249 Correct small mistakes in the docs
  .gitignore
  CONTRIBUTING.md
  docs/bundle-runtime.md
  docs/bundle-secrets.md
  docs/bundle.md
  docs/gitops-flux.md
  docs/module-sign.md
  hack/mkdocs/requirements.txt
Labels: area/docs

#254 Update dependencies to Kubernetes v1.28
  cmd/timoni/bundle_status.go
  cmd/timoni/log.go
  cmd/timoni/status.go
  go.mod
  go.sum
  internal/runtime/instances.go
  internal/runtime/job_wait.go
  internal/runtime/job_wait_test.go
  internal/runtime/resources.go
Labels: dependencies

#250 Add multi-cluster deployments capability to bundles
  api/v1alpha1/runtime.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/timoni/bundle.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  cmd/timoni/bundle_build.go
  cmd/timoni/bundle_build_test.go
  cmd/timoni/bundle_delete.go
  cmd/timoni/bundle_delete_test.go
  cmd/timoni/bundle_status.go
  cmd/timoni/bundle_status_test.go
  cmd/timoni/bundle_vet.go
  cmd/timoni/bundle_vet_test.go
  cmd/timoni/log.go
  cmd/timoni/main_test.go
  cmd/timoni/runtime_build.go
  cmd/timoni/runtime_build_test.go
  docs/bundle-multi-cluster.md
  docs/bundle-runtime.md
  hack/Makefile
  hack/local/kind-down.sh
  hack/local/kind-up.sh
  hack/local/mod-push.sh
  hack/local/podinfo.bundle.cue
  internal/engine/bundle_builder.go
  internal/engine/runtime_builder.go
  internal/engine/runtime_builder_test.go
  mkdocs.yml
Labels: enhancement, area/api, area/runtime, area/bundles

#258 Add Flux AIO distribution to docs
  docs/flux-aio.md
  docs/gitops-flux.md
  mkdocs.yml
Labels: area/docs

#260 Improve cmd test coverage
  cmd/timoni/artifact_push_test.go
  cmd/timoni/dyff_test.go
  cmd/timoni/version.go
  cmd/timoni/version_test.go
Labels: area/cli

#261 Document the module config required fields
  docs/module.md
  examples/minimal/templates/config.cue
  examples/minimal/timoni.cue
Labels: area/docs
