Repository stefanprodan/timoni, pull requests merged in 2023-03, with the labels that each got.

#22 Add guide for GitOps continuous delivery with Flux
  docs/gitops-flux.md
  mkdocs.yml
Labels: area/docs

#24 Update dependencies
  Makefile
  docs/install.md
  go.mod
  go.sum
Labels: area/ci

#26 Allow OCI annotations to be set when pushing modules
  cmd/timoni/mod_push.go
  cmd/timoni/mod_push_test.go
Labels: area/cli, area/oci

#28 Add module structure guide
  docs/module.md
  mkdocs.yml
Labels: area/docs

#29 Use Chainguard's Wolfi image for Redis
  Makefile
  examples/redis/README.md
  examples/redis/templates/config.cue
Labels: area/ci

#32 Add auth and caching to examples
  README.md
  docs/index.md
  examples/podinfo-values/caching-values.cue
  examples/podinfo/README.md
  examples/podinfo/templates/config.cue
  examples/podinfo/templates/deployment.cue
  examples/redis/README.md
  examples/redis/templates/config.cue
  examples/redis/templates/master.deployment.cue
  examples/redis/templates/replica.deployment.cue
  examples/redis/test_values.cue
Labels: area/docs

#33 ci: Workflow improvements
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  actions/setup/action.yml
Labels: area/ci

#35 Introduce Timoni Bundles for declarative instance management
  .gitattributes
  README.md
  api/v1alpha1/selectors.go
  cmd/timoni/bundle.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_apply_test.go
  docs/index.md
  examples/bundles/podinfo.cue
  examples/bundles/podinfo_secrets.cue
  internal/engine/module_builder.go
Labels: area/api, area/cli, area/engine

#38 Add bundle command to docs
  mkdocs.yml
Labels: area/docs

#40 Respect namespace of current KubeConfig context
  cmd/timoni/main.go
Labels: area/cli
