Repository stefanprodan/timoni, pull requests merged in 2024-01, with the labels that each got.

#301 docs: Add CUE walkthrough and module dev guides
  README.md
  docs/bundle.md
  docs/concepts.md
  docs/cue/introduction.md
  docs/cue/module/apply-behavior.md
  docs/cue/module/custom-resources.md
  docs/cue/module/github-actions.md
  docs/cue/module/import-resources.md
  docs/cue/module/initialization.md
  docs/cue/module/publishing.md
  docs/cue/module/semver-constraints.md
  docs/cue/module/signing.md
  docs/cue/module/test-jobs.md
  docs/cue/walkthrough.md
  docs/module.md
  docs/theme/home.html
  mkdocs.yml
Labels: area/docs

#307 docs: specifies where the instance inventory is stored
  cmd/timoni/apply.go
Labels: area/cli

#310 Find the correct kubeconfig based on thee current context
  .gitignore
  cmd/timoni/main.go
Labels: area/cli

#316 Add Cosign keyless verification example
  docs/cue/module/signing.md
Labels: area/docs

#315 Persist the Module OCI annotations in the in-cluster Instance
  api/v1alpha1/module.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/timoni/inspect_test.go
  internal/oci/pull_module.go
Labels: area/api, area/runtime

#320 Fix typo
  docs/cue/introduction.md
Labels: area/docs

#321 Add `#ImmutableConfig` generator to Timoni's CUE schemas
  blueprints/starter/cue.mod/pkg/timoni.sh/core/v1alpha1/immutable.cue
  docs/cue/module/immutable-config.md
  docs/quickstart.md
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/immutable.cue
  examples/minimal/templates/config.cue
  examples/minimal/templates/configmap.cue
  examples/minimal/templates/deployment.cue
  mkdocs.yml
  schemas/README.md
  schemas/timoni.sh/core/v1alpha1/immutable.cue
Labels: area/docs, area/api

#318 Generate a Markdown Table from a Module Configuration
  .github/workflows/build.yaml
  cmd/timoni/mod_show.go
  cmd/timoni/mod_show_config.go
  cmd/timoni/mod_show_config_test.go
  cmd/timoni/testdata/module/README.md
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  cmd/timoni/testdata/module/templates/config.cue
  cmd/timoni/testdata/module/timoni.cue
  internal/engine/module_builder.go
Labels: area/cli, area/engine

#326 doc/fix cue command parameter order
  docs/cue/module/import-resources.md
Labels: area/docs
