Repository stefanprodan/timoni, pull requests merged in 2024-03, with the labels that each got.

#348 Add support for file based module in bundle
  Makefile
  api/v1alpha1/artifact.go
  api/v1alpha1/bundle.go
  api/v1alpha1/module.go
  cmd/timoni/apply.go
  cmd/timoni/build.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/mod_show_config.go
  cmd/timoni/mod_vet.go
  docs/bundle.md
  internal/engine/bundle_builder.go
  internal/engine/bundle_builder_test.go
  internal/engine/fetcher.go
  internal/engine/fetcher/fetcher.go
  internal/engine/fetcher/fetcher_test.go
  internal/engine/fetcher/local.go
  internal/engine/fetcher/local_test.go
  internal/engine/fetcher/oci.go
  internal/engine/fetcher/oci_test.go
  internal/engine/fetcher/testdata/module/README.md
  internal/engine/fetcher/testdata/module/cue.mod/module.cue
  internal/engine/fetcher/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  internal/engine/fetcher/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  internal/engine/fetcher/testdata/module/ignore/ignore.txt
  internal/engine/fetcher/testdata/module/templates/client.cue
  internal/engine/fetcher/testdata/module/templates/config.cue
  internal/engine/fetcher/testdata/module/templates/namespace.cue
  internal/engine/fetcher/testdata/module/templates/server.cue
  internal/engine/fetcher/testdata/module/timoni.cue
  internal/engine/fetcher/testdata/module/timoni.ignore
  internal/engine/fetcher/testdata/module/values.cue
  internal/engine/module_builder.go
  internal/engine/utils.go
  internal/engine/utils_test.go
  internal/testutils/gomega.go
  internal/testutils/interface.go
  internal/testutils/interface_test.go
  internal/testutils/matchers.go
  internal/testutils/registry.go
Labels: enhancement, area/engine, area/bundles

#354 Add scoop.sh instructions to install.md
  docs/install.md
Labels: area/docs

#355 Add tests for bundles with local modules
  .github/workflows/e2e.yaml
  cmd/timoni/bundle_build_test.go
  hack/tests/nginx_bundle.cue
  internal/engine/bundle_builder.go
  internal/engine/fetcher/fetcher.go
  internal/engine/fetcher/local.go
Labels: area/bundles

#357 Allow runtime definition to be coupled with a bundle
  internal/engine/runtime_builder.go
Labels: area/engine

#358 Document the `flux-oci-sync` usage
  docs/flux-aio.md
  docs/gitops-flux.md
Labels: area/docs

#359 Update Redis module to v7.2.4
  docs/bundle.md
  docs/quickstart.md
  examples/bundles/podinfo.cue
  examples/redis/values.cue
Labels: area/docs

#360 Add docs for referencing local modules in bundles
  docs/bundle.md
Labels: area/docs
