Repository stefanprodan/timoni, pull requests merged in 2024-12, with the labels that each got.

#424 Fix CRD import issue with `oneOf`, `not`, and `anyOf`
  cmd/timoni/mod_vendor_crd_test.go
  cmd/timoni/testdata/crd/golden/cue.mod/gen/acme.cert-manager.io/challenge/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/acme.cert-manager.io/order/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/certificate/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/certificaterequest/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/clusterissuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/issuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/alertprovider/v1beta1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/canary/v1beta1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/metrictemplate/v1beta1/types_gen.cue
  cmd/timoni/testdata/crd/source/flagger.crds.yaml
  go.mod
  go.sum
  internal/engine/importer_test.go
Labels: area/engine

#458 Bumps CUE to version 0.11.0
  .github/workflows/build.yaml
  cmd/timoni/main.go
  internal/engine/importer_test.go
Labels: dependencies

#452 Add --digest flag to `timoni apply` and `timoni build`
  cmd/timoni/apply.go
  cmd/timoni/apply_test.go
  cmd/timoni/build.go
  cmd/timoni/build_test.go
  internal/flags/digest.go
Labels: area/cli

#460 Update dependencies to Kubernetes 1.32.0
  .github/workflows/e2e.yaml
  Makefile
  go.mod
  go.sum
Labels: dependencies

#461 Add the `Bundle` Go type to the public API
  api/v1alpha1/bundle.go
  cmd/timoni/apply.go
  cmd/timoni/bundle_apply.go
  cmd/timoni/bundle_build.go
  cmd/timoni/bundle_delete.go
  internal/engine/bundle_builder.go
  internal/reconciler/reconciler.go
Labels: area/api, area/bundles

#462 Allow disabling waiting for specific resources
  api/v1alpha1/actions.go
  cmd/timoni/build_test.go
  cmd/timoni/testdata/module/README.md
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/instance.cue
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  cmd/timoni/testdata/module/cue.mod/pkg/timoni.sh/core/v1alpha1/semver.cue
  cmd/timoni/testdata/module/templates/client.cue
  cmd/timoni/testdata/module/templates/config.cue
  cmd/timoni/testdata/module/templates/namespace.cue
  cmd/timoni/testdata/module/templates/server.cue
  cmd/timoni/testdata/module/timoni.cue
  docs/cue/module/apply-behavior.md
  internal/reconciler/reconciler.go
  schemas/timoni.sh/core/v1alpha1/action.cue
Labels: area/api, area/runtime
