Repository stefanprodan/timoni, pull requests merged in 2024-02, with the labels that each got.

#328 fix(doc): Fix typo on "Push to GitHub Container Registry"
  docs/cue/module/github-actions.md
  docs/github-actions.md
Labels: area/docs

#331 fix(engine): return the cue values merge error if non nil
  internal/engine/module_builder.go
  internal/engine/module_builder_test.go
  internal/engine/testdata/module-invalid/cue.mod/module.cue
  internal/engine/testdata/module-invalid/ignore/ignore.txt
  internal/engine/testdata/module-invalid/ignore_tool.cue
  internal/engine/testdata/module-invalid/templates/config.cue
  internal/engine/testdata/module-invalid/templates/kube.cue
  internal/engine/testdata/module-invalid/timoni.cue
  internal/engine/testdata/module-invalid/timoni.ignore
  internal/engine/testdata/module-invalid/values.cue
  internal/engine/testdata/module-values/overlay-invalid.cue
Labels: area/engine

#339 chore: add proto plugin
  docs/install.md
  proto-plugin.toml
Labels: area/docs

#335 Use shorter syntax for string keys in CUE schemas
  examples/redis/templates/master/deployment.cue
  examples/redis/templates/master/service.cue
  examples/redis/templates/replica/deployment.cue
  examples/redis/templates/replica/service.cue
  schemas/timoni.sh/core/v1alpha1/metadata.cue
  schemas/timoni.sh/core/v1alpha1/selector.cue
Labels: area/api

#342 Refactor `#ImagePullSecret` CUE generator
  blueprints/starter/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  blueprints/starter/cue.mod/pkg/timoni.sh/core/v1alpha1/imagepullsecret.cue
  blueprints/starter/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  blueprints/starter/cue.mod/pkg/timoni.sh/core/v1alpha1/selector.cue
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/imagepullsecret.cue
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  examples/minimal/cue.mod/pkg/timoni.sh/core/v1alpha1/selector.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/image.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/imagepullsecret.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/immutable.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/metadata.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/object.cue
  examples/redis/cue.mod/pkg/timoni.sh/core/v1alpha1/selector.cue
  schemas/timoni.sh/core/v1alpha1/image.cue
  schemas/timoni.sh/core/v1alpha1/imagepullsecret.cue
Labels: area/api

#343 Build with Go 1.22
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release.yaml
  .github/workflows/scan.yml
  Makefile
  go.mod
Labels: area/ci, dependencies, go

#344 Update `cuelang.org/go` to v0.7.1
  .github/workflows/build.yaml
  go.mod
  go.sum
Labels: dependencies

#345 Update `fluxcd/pkg/ssa` to v0.36.0
  cmd/timoni/build_test.go
  cmd/timoni/bundle_build_test.go
  cmd/timoni/dyff.go
  cmd/timoni/log.go
  cmd/timoni/mod_vendor_crd.go
  cmd/timoni/mod_vet.go
  go.mod
  go.sum
  internal/engine/resourceset.go
  internal/runtime/reader.go
  internal/runtime/storage.go
Labels: area/engine, dependencies

#346 Run e2e tests for Kubernetes v1.29.2
  .github/workflows/e2e.yaml
Labels: area/ci

#347 Document the Flux AIO upgrade procedure
  docs/flux-aio.md
Labels: area/docs
