Repository stefanprodan/timoni, pull requests merged in 2025-02, with the labels that each got.

#475 Add TIMONI_CACHE_DIR variable as another method to set the cache location
  cmd/timoni/main.go
  docs/install.md
Labels: area/cli

#480 Update `cuelang.org/go` to v0.12.0
  cmd/timoni/bundle_vet_test.go
  cmd/timoni/main.go
  cmd/timoni/testdata/crd/golden/cue.mod/gen/acme.cert-manager.io/challenge/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/clusterissuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/issuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/canary/v1beta1/types_gen.cue
  go.mod
  go.sum
  internal/engine/testdata/module-golden/overlay.cue
  internal/engine/testdata/values/golden.cue
Labels: area/engine, dependencies

#481 Fix `timoni:generate` header
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  cmd/timoni/mod_vendor_crd.go
  cmd/timoni/testdata/crd/golden/cue.mod/gen/acme.cert-manager.io/challenge/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/acme.cert-manager.io/order/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/certificate/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/certificaterequest/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/clusterissuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/cert-manager.io/issuer/v1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/alertprovider/v1beta1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/canary/v1beta1/types_gen.cue
  cmd/timoni/testdata/crd/golden/cue.mod/gen/flagger.app/metrictemplate/v1beta1/types_gen.cue
Labels: area/cli

#485 docs: Remove reference to non-existent flag --prune
  docs/bundle.md
Labels: area/docs
